@{
    Layout = "_WebLayout";
    ViewData["Title"] = "Sign in";
}
@using BriskChat.Web.Models.Auth
@using Microsoft.AspNetCore.Mvc.Rendering
@model BriskChat.Web.Models.Auth.LoginViewModel

<div class="ui middle aligned center aligned grid">
    <div class="column webressetbox">
        <h2 class="ui teal header">Login to TrollChat Account</h2>
        <br />
        @using (Html.BeginForm("Login", "Auth", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
        {
            @Html.HiddenFor(x => x.DomainName, ViewBag.DomainName as string)
            <div class="ui large form">
                <div class="field">
                    <div class="ui left icon input">
                        @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", type = "email", required = "required", autofocus = "autofocus" })
                        <i class="user icon"></i>
                    </div>
                    <p>@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })</p>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        @Html.PasswordFor(m => m.Password, new { placeholder = "Password", required = "required" })
                        <i class="lock icon"></i>
                    </div>
                    <p>@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })</p>
                </div>

                <div class="field">
                    <button class="orginalbutton big" type="submit" id="btnLogin">Login -></button>
                </div>
            </div>
        }
        <br />
        <div>
            <a href="@Url.Action("ResendConfirmationEmail", "Auth")">Resend confirmation email?</a>
        </div>
        <div>
            <a href="@Url.Action("ResetPasswordInitiation", "Auth")">Reset password</a>
        </div>
    </div>
</div>