@{
    Layout = "_WebLayout";
}

@model TrollChat.Web.Models.Auth.ResetPasswordNewPasswordViewModel


<div class="ui middle aligned center aligned grid">
    <div class="webressetbox column">
        <h1>Res=set password</h1>
        <br /><br />
@using (Html.BeginForm("ResetPasswordByToken", "Auth", FormMethod.Post))
{
        <div class="ui large form">
            @Html.HiddenFor(m => m.Token);
            <div class="field">
                @Html.LabelFor(m => m.Password, new { @class = "control-label col-sm-2" })
                <br />
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", required = "required" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="field">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label col-sm-2" })
                <br />
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password", required = "required" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
            <div class="field">
                <button class="orginalbutton big" type="submit" id="btnSetNewPassword">Set New Password</button>
            </div>
        </div>
}
    </div>
    </div>
