@{
    Layout = "_WebLayout";
    ViewData["Title"] = "Reset password";
}
@using Microsoft.AspNetCore.Mvc.Rendering
@model TrollChat.Web.Models.Auth.ResetPasswordViewModel

<div class="ui middle aligned center aligned grid">
    <div class="column webressetbox">
        <h2 class="ui teal header">Reset password</h2>
        <br />
        @using (Html.BeginForm("ResetPasswordByToken", "Auth", FormMethod.Post))
        {
            <div class="ui large form">
                @Html.HiddenFor(m => m.Token)
                <div class="field">
                    @Html.LabelFor(m => m.Password)
                    <br />
                    @Html.PasswordFor(m => m.Password, new { placeholder = "Password", required = "required", autofocus = "autofocus" })
                    <p>@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })</p>
                </div>
                <div class="field">
                    @Html.LabelFor(m => m.ConfirmPassword)
                    <br />
                    @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm Password", required = "required" })
                    <p>@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })</p>
                </div>
                <div class="field">
                    <button class="orginalbutton big" type="submit" id="btnSetNewPassword">Set New Password</button>
                </div>
            </div>
        }
    </div>
</div>