@{
    Layout = "_WebLayout";
    ViewData["Title"] = "Reset password";
}
@model TrollChat.Web.Models.Auth.ResetPasswordNewPasswordViewModel

<div class="ui middle aligned center aligned grid">
    <div class="column webressetbox">
        <h1>Reset password</h1>
        <br /><br />
        @using (Html.BeginForm("ResetPasswordByToken", "Auth", FormMethod.Post))
        {
            <div class="ui large form">
                @Html.HiddenFor(m => m.Token);
                <div class="field">
                    @Html.LabelFor(m => m.Password)
                    <br />
                    @Html.PasswordFor(m => m.Password, new { placeholder = "Password", required = "required" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="field">
                    @Html.LabelFor(m => m.ConfirmPassword)
                    <br />
                    @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm Password", required = "required" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
                <div class="field">
                    <button class="orginalbutton big" type="submit" id="btnSetNewPassword">Set New Password</button>
                </div>
            </div>
        }
    </div>
    </div>
